
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');


* { 
    margin:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
   
    background-color: #282D35;
    
    
}
main {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



